{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Supervisión - {{ llegada.folio }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Validación de Supervisión</h6>
            </div>
            <div class="card-body">
                {{ form|crispy }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Supervisión</button>
    </form>
</div>
{% endblock %}
