# Dependencias para Airflow
apache-airflow==2.7.3
apache-airflow-providers-postgres==5.10.0
apache-airflow-providers-celery==3.4.1
apache-airflow-providers-redis==3.4.1

# Dependencias de aplicación
psycopg2-binary==2.9.9
requests==2.31.0
python-dotenv==1.0.0
